<h1>Pages#info</h1>
<p>
author: titus
location: error not found!
skill set: programming, hacking, tracking operatives and double agents.
</p>
<p><span style='color:skyblue;font-size:24px'>&#9883;</span></p>
<p><span style='color:gold;font-size:24px'>&#9860;</span></p>
<p><span style='color:lightgreen;font-size:24px'>&#9784;</span></p>
<p><span style='color:gray;font-size:24px'>&#9763;</span></p>
